<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Albuquerque</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/projetoY.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/js/txtinfo.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>
						<nalb></nalb>
					</b></div>
			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<taalb></taalb>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tfalb></tfalb>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">
											<halb></halb>
										</b></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="albtask" height="250"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2 mt-5 overflow-auto">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>

								<table class="table">
									<tr>
										<td>
											<colab></colab>
										</td>
										<td>
											<colab1></colab1>
										</td>
										<td>
											<horas1></horas1>
										</td>
									</tr>
									<tr>
										<td>
											<colab2></colab2>
										</td>
										<td>
											<colab3></colab3>
										</td>
										<td>
											<horas2></horas2>
										</td>
									</tr>
									<tr>
										<td>
											<colab4></colab4>
										</td>
										<td>
											<colab5></colab5>
										</td>
										<td>
											<horas3></horas3>
										</td>
									</tr>
									<tr>
										<td>
											<colab6></colab6>
										</td>
										<td>
											<colab7></colab7>
										</td>
										<td>
											<horas4></horas4>
										</td>
									</tr>
									<tr>
										<td>
											<colab8></colab8>
										</td>
										<td>
											<colab9></colab9>
										</td>
										<td>
											<horas5></horas5>
										</td>
									</tr>
									<tr>
										<td>
											<colab10></colab10>
										</td>
										<td>
											<colab11></colab11>
										</td>
										<td>
											<horas6></horas6>
										</td>
									</tr>
									<tr>
										<td>
											<colab12></colab12>
										</td>
										<td>
											<colab13></colab13>
										</td>
										<td>
											<horas7></horas7>
										</td>
									</tr>
									<tr>
										<td>
											<colab14></colab14>
										</td>
										<td>
											<colab15></colab15>
										</td>
										<td>
											<horas8></horas8>
										</td>
									</tr>
									<tr>
										<td>
											<colab16></colab16>
										</td>
										<td>
											<colab17></colab17>
										</td>
										<td>
											<horas9></horas9>
										</td>
									</tr>
									<tr>
										<td>
											<colab18></colab18>
										</td>
										<td>
											<colab19></colab19>
										</td>
										<td>
											<horas10></horas10>
										</td>
									</tr>
									<tr>
										<td>
											<colab20></colab20>
										</td>
										<td>
											<colab21></colab21>
										</td>
										<td>
											<horas11></horas11>
										</td>
									</tr>
									<tr>
										<td>
											<colab22></colab22>
										</td>
										<td>
											<colab23></colab23>
										</td>
										<td>
											<horas12></horas12>
										</td>
									</tr>
									<tr>
										<td>
											<colab24></colab24>
										</td>
										<td>
											<colab25></colab25>
										</td>
										<td>
											<horas13></horas13>
										</td>
									</tr>
									<tr>
										<td>
											<colab26></colab26>
										</td>
										<td>
											<colab27></colab27>
										</td>
										<td>
											<horas14></horas14>
										</td>
									</tr>
									<tr>
										<td>
											<colab28></colab28>
										</td>
										<td>
											<colab29></colab29>
										</td>
										<td>
											<horas15></horas15>
										</td>
									</tr>
									<tr>
										<td>
											<colab30></colab30>
										</td>
										<td>
											<colab31></colab31>
										</td>
										<td>
											<horas16></horas16>
										</td>
									</tr>
									<tr>
										<td>
											<colab32></colab32>
										</td>
										<td>
											<colab33></colab33>
										</td>
										<td>
											<horas17></horas17>
										</td>
									</tr>
									<tr>
										<td>
											<colab34></colab34>
										</td>
										<td>
											<colab35></colab35>
										</td>
										<td>
											<horas18></horas18>
										</td>
									</tr>
									<tr>
										<td>
											<colab36></colab36>
										</td>
										<td>
											<colab37></colab37>
										</td>
										<td>
											<horas19></horas19>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas id="albstatus" height="230">albstatus()</canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="../static/js/grfcinfo.js"></script>
	<script src="../static/js/albtask.js"></script>
	<script src="../static/js/albstatus.js"></script>
</body>

</html>