<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Batista</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/projetoY.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/js/txtinfo.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>
						<nbat></nbat>
					</b></div>

			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tabat></tabat>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tfbat></tfbat>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">
											<hbat></hbat>
										</b></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="battask" height="250"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2 mt-5 overflow-auto">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>
								<table class="table">
									<tr>
										<td>
											<colab38></colab38>
										</td>
										<td>
											<colab39></colab39>
										</td>
										<td>
											<horas20></horas20>
										</td>
									</tr>
									<tr>
										<td>
											<colab40></colab40>
										</td>
										<td>
											<colab41></colab41>
										</td>
										<td>
											<horas21></horas21>
										</td>
									</tr>
									<tr>
										<td>
											<colab42></colab42>
										</td>
										<td>
											<colab43></colab43>
										</td>
										<td>
											<horas22></horas22>
										</td>
									</tr>
									<tr>
										<td>
											<colab44></colab44>
										</td>
										<td>
											<colab45></colab45>
										</td>
										<td>
											<horas23></horas23>
										</td>
									</tr>
									<tr>
										<td>
											<colab46></colab46>
										</td>
										<td>
											<colab47></colab47>
										</td>
										<td>
											<horas24></horas24>
										</td>
									</tr>
									<tr>
										<td>
											<colab48></colab48>
										</td>
										<td>
											<colab49></colab49>
										</td>
										<td>
											<horas25></horas25>
										</td>
									</tr>
									<tr>
										<td>
											<colab50></colab50>
										</td>
										<td>
											<colab51></colab51>
										</td>
										<td>
											<horas26></horas26>
										</td>
									</tr>
									<tr>
										<td>
											<colab52></colab52>
										</td>
										<td>
											<colab53></colab53>
										</td>
										<td>
											<horas27></horas27>
										</td>
									</tr>
									<tr>
										<td>
											<colab54></colab54>
										</td>
										<td>
											<colab55></colab55>
										</td>
										<td>
											<horas28></horas28>
										</td>
									</tr>
									<tr>
										<td>
											<colab56></colab56>
										</td>
										<td>
											<colab57></colab57>
										</td>
										<td>
											<horas29></horas29>
										</td>
									</tr>
									<tr>
										<td>
											<colab58></colab58>
										</td>
										<td>
											<colab59></colab59>
										</td>
										<td>
											<horas30></horas30>
										</td>
									</tr>
									<tr>
										<td>
											<colab60></colab60>
										</td>
										<td>
											<colab61></colab61>
										</td>
										<td>
											<horas31></horas31>
										</td>
									</tr>
									<tr>
										<td>
											<colab62></colab62>
										</td>
										<td>
											<colab63></colab63>
										</td>
										<td>
											<horas32></horas32>
										</td>
									</tr>
									<tr>
										<td>
											<colab64></colab64>
										</td>
										<td>
											<colab65></colab65>
										</td>
										<td>
											<horas33></horas33>
										</td>
									</tr>
									<tr>
										<td>
											<colab66></colab66>
										</td>
										<td>
											<colab67></colab67>
										</td>
										<td>
											<horas34></horas34>
										</td>
									</tr>
									<tr>
										<td>
											<colab68></colab68>
										</td>
										<td>
											<colab69></colab69>
										</td>
										<td>
											<horas35></horas35>
										</td>
									</tr>
									<tr>
										<td>
											<colab70></colab70>
										</td>
										<td>
											<colab71></colab71>
										</td>
										<td>
											<horas36></horas36>
										</td>
									</tr>
									<tr>
										<td>
											<colab72></colab72>
										</td>
										<td>
											<colab73></colab73>
										</td>
										<td>
											<horas37></horas37>
										</td>
									</tr>
									<tr>
										<td>
											<colab74></colab74>
										</td>
										<td>
											<colab75></colab75>
										</td>
										<td>
											<horas38></horas38>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas id="batstatus" height="230"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="../static/js/battask.js"></script>
	<script src="../static/js/batstatus.js"></script>
</body>

</html>