<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Costa Comércio</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/projetoY.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/js/txtinfo.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>
						<ncosc></ncosc>
					</b></div>
			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tacosc></tacosc>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tfcosc></tfcosc>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">
											<hcosc></hcosc>
										</b></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="cosctask" height="250"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2 mt-5 overflow-auto">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>

								<table class="table">
									<tr>
										<td>
											<colab114></colab114>
										</td>
										<td>
											<colab115></colab115>
										</td>
										<td>
											<horas58></horas58>
										</td>
									</tr>
									<tr>
										<td>
											<colab116></colab116>
										</td>
										<td>
											<colab117></colab117>
										</td>
										<td>
											<horas59></horas59>
										</td>
									</tr>
									<tr>
										<td>
											<colab118></colab118>
										</td>
										<td>
											<colab119></colab119>
										</td>
										<td>
											<horas60></horas60>
										</td>
									</tr>
									<tr>
										<td>
											<colab120></colab120>
										</td>
										<td>
											<colab121></colab121>
										</td>
										<td>
											<horas61></horas61>
										</td>
									</tr>
									<tr>
										<td>
											<colab122></colab122>
										</td>
										<td>
											<colab123></colab123>
										</td>
										<td>
											<horas62></horas62>
										</td>
									</tr>
									<tr>
										<td>
											<colab124></colab124>
										</td>
										<td>
											<colab125></colab125>
										</td>
										<td>
											<horas63></horas63>
										</td>
									</tr>
									<tr>
										<td>
											<colab126></colab126>
										</td>
										<td>
											<colab127></colab127>
										</td>
										<td>
											<horas64></horas64>
										</td>
									</tr>
									<tr>
										<td>
											<colab128></colab128>
										</td>
										<td>
											<colab129></colab129>
										</td>
										<td>
											<horas65></horas65>
										</td>
									</tr>
									<tr>
										<td>
											<colab130></colab130>
										</td>
										<td>
											<colab131></colab131>
										</td>
										<td>
											<horas66></horas66>
										</td>
									</tr>
									<tr>
										<td>
											<colab132></colab132>
										</td>
										<td>
											<colab133></colab133>
										</td>
										<td>
											<horas67></horas67>
										</td>
									</tr>
									<tr>
										<td>
											<colab134></colab134>
										</td>
										<td>
											<colab135></colab135>
										</td>
										<td>
											<horas68></horas68>
										</td>
									</tr>
									<tr>
										<td>
											<colab136></colab136>
										</td>
										<td>
											<colab137></colab137>
										</td>
										<td>
											<horas69></horas69>
										</td>
									</tr>
									<tr>
										<td>
											<colab138></colab138>
										</td>
										<td>
											<colab139></colab139>
										</td>
										<td>
											<horas70></horas70>
										</td>
									</tr>
									<tr>
										<td>
											<colab140></colab140>
										</td>
										<td>
											<colab141></colab141>
										</td>
										<td>
											<horas71></horas71>
										</td>
									</tr>
									<tr>
										<td>
											<colab142></colab142>
										</td>
										<td>
											<colab143></colab143>
										</td>
										<td>
											<horas72></horas72>
										</td>
									</tr>
									<tr>
										<td>
											<colab144></colab144>
										</td>
										<td>
											<colab145></colab145>
										</td>
										<td>
											<horas73></horas73>
										</td>
									</tr>
									<tr>
										<td>
											<colab146></colab146>
										</td>
										<td>
											<colab147></colab147>
										</td>
										<td>
											<horas74></horas74>
										</td>
									</tr>
									<tr>
										<td>
											<colab148></colab148>
										</td>
										<td>
											<colab149></colab149>
										</td>
										<td>
											<horas75></horas75>
										</td>
									</tr>
									<tr>
										<td>
											<colab150></colab150>
										</td>
										<td>
											<colab151></colab151>
										</td>
										<td>
											<horas76></horas76>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas id="coscstatus" height="230"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="../static/js/cosctask.js"></script>
	<script src="../static/js/coscstatus.js"></script>
</body>

</html>