<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Souza</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/projetoY.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/js/txtinfo.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>
						<nsou></nsou>
					</b></div>
			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tasou></tasou>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tfsou></tfsou>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">
											<hsou></hsou>
										</b></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="soutask" height="250"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2 mt-5 overflow-auto">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>

								<table class="table">
									<tr>
										<td>
											<colab304></colab304>
										</td>
										<td>
											<colab305></colab305>
										</td>
										<td>
											<horas153></horas153>
										</td>
									</tr>
									<tr>
										<td>
											<colab306></colab306>
										</td>
										<td>
											<colab307></colab307>
										</td>
										<td>
											<horas154></horas154>
										</td>
									</tr>
									<tr>
										<td>
											<colab308></colab308>
										</td>
										<td>
											<colab309></colab309>
										</td>
										<td>
											<horas155></horas155>
										</td>
									</tr>
									<tr>
										<td>
											<colab310></colab310>
										</td>
										<td>
											<colab311></colab311>
										</td>
										<td>
											<horas156></horas156>
										</td>
									</tr>
									<tr>
										<td>
											<colab312></colab312>
										</td>
										<td>
											<colab313></colab313>
										</td>
										<td>
											<horas157></horas157>
										</td>
									</tr>
									<tr>
										<td>
											<colab314></colab314>
										</td>
										<td>
											<colab315></colab315>
										</td>
										<td>
											<horas158></horas158>
										</td>
									</tr>
									<tr>
										<td>
											<colab316></colab316>
										</td>
										<td>
											<colab317></colab317>
										</td>
										<td>
											<horas159></horas159>
										</td>
									</tr>
									<tr>
										<td>
											<colab318></colab318>
										</td>
										<td>
											<colab319></colab319>
										</td>
										<td>
											<horas160></horas160>
										</td>
									</tr>
									<tr>
										<td>
											<colab320></colab320>
										</td>
										<td>
											<colab321></colab321>
										</td>
										<td>
											<horas161></horas161>
										</td>
									</tr>
									<tr>
										<td>
											<colab322></colab322>
										</td>
										<td>
											<colab323></colab323>
										</td>
										<td>
											<horas162></horas162>
										</td>
									</tr>
									<tr>
										<td>
											<colab324></colab324>
										</td>
										<td>
											<colab325></colab325>
										</td>
										<td>
											<horas163></horas163>
										</td>
									</tr>
									<tr>
										<td>
											<colab326></colab326>
										</td>
										<td>
											<colab327></colab327>
										</td>
										<td>
											<horas164></horas164>
										</td>
									</tr>
									<tr>
										<td>
											<colab328></colab328>
										</td>
										<td>
											<colab329></colab329>
										</td>
										<td>
											<horas165></horas165>
										</td>
									</tr>
									<tr>
										<td>
											<colab330></colab330>
										</td>
										<td>
											<colab331></colab331>
										</td>
										<td>
											<horas166></horas166>
										</td>
									</tr>
									<tr>
										<td>
											<colab332></colab332>
										</td>
										<td>
											<colab333></colab333>
										</td>
										<td>
											<horas167></horas167>
										</td>
									</tr>
									<tr>
										<td>
											<colab334></colab334>
										</td>
										<td>
											<colab335></colab335>
										</td>
										<td>
											<horas168></horas168>
										</td>
									</tr>
									<tr>
										<td>
											<colab336></colab336>
										</td>
										<td>
											<colab337></colab337>
										</td>
										<td>
											<horas169></horas169>
										</td>
									</tr>
									<tr>
										<td>
											<colab338></colab338>
										</td>
										<td>
											<colab339></colab339>
										</td>
										<td>
											<horas170></horas170>
										</td>
									</tr>
									<tr>
										<td>
											<colab340></colab340>
										</td>
										<td>
											<colab341></colab341>
										</td>
										<td>
											<horas171></horas171>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas id="soustatus" height="230"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="../static/js/soutask.js"></script>
	<script src="../static/js/soustatus.js"></script>
</body>

</html>