<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xavier</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/projetoY.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/js/txtinfo.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>
						<nxav></nxav>
					</b></div>
			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<taxav></taxav>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tfxav></tfxav>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">
											<hxav></hxav>
										</b></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="xavtask" height="250"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2 mt-5 overflow-auto">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>

								<table class="table">
									<tr>
										<td>
											<colab342></colab342>
										</td>
										<td>
											<colab343></colab343>
										</td>
										<td>
											<horas172></horas172>
										</td>
									</tr>
									<tr>
										<td>
											<colab344></colab344>
										</td>
										<td>
											<colab345></colab345>
										</td>
										<td>
											<horas173></horas173>
										</td>
									</tr>
									<tr>
										<td>
											<colab346></colab346>
										</td>
										<td>
											<colab347></colab347>
										</td>
										<td>
											<horas174></horas174>
										</td>
									</tr>
									<tr>
										<td>
											<colab348></colab348>
										</td>
										<td>
											<colab349></colab349>
										</td>
										<td>
											<horas175></horas175>
										</td>
									</tr>
									<tr>
										<td>
											<colab350></colab350>
										</td>
										<td>
											<colab351></colab351>
										</td>
										<td>
											<horas176></horas176>
										</td>
									</tr>
									<tr>
										<td>
											<colab352></colab352>
										</td>
										<td>
											<colab353></colab353>
										</td>
										<td>
											<horas177></horas177>
										</td>
									</tr>
									<tr>
										<td>
											<colab354></colab354>
										</td>
										<td>
											<colab355></colab355>
										</td>
										<td>
											<horas178></horas178>
										</td>
									</tr>
									<tr>
										<td>
											<colab356></colab356>
										</td>
										<td>
											<colab357></colab357>
										</td>
										<td>
											<horas179></horas179>
										</td>
									</tr>
									<tr>
										<td>
											<colab358></colab358>
										</td>
										<td>
											<colab359></colab359>
										</td>
										<td>
											<horas180></horas180>
										</td>
									</tr>
									<tr>
										<td>
											<colab360></colab360>
										</td>
										<td>
											<colab361></colab361>
										</td>
										<td>
											<horas181></horas181>
										</td>
									</tr>
									<tr>
										<td>
											<colab362></colab362>
										</td>
										<td>
											<colab363></colab363>
										</td>
										<td>
											<horas182></horas182>
										</td>
									</tr>
									<tr>
										<td>
											<colab364></colab364>
										</td>
										<td>
											<colab365></colab365>
										</td>
										<td>
											<horas183></horas183>
										</td>
									</tr>
									<tr>
										<td>
											<colab366></colab366>
										</td>
										<td>
											<colab367></colab367>
										</td>
										<td>
											<horas184></horas184>
										</td>
									</tr>
									<tr>
										<td>
											<colab368></colab368>
										</td>
										<td>
											<colab369></colab369>
										</td>
										<td>
											<horas185></horas185>
										</td>
									</tr>
									<tr>
										<td>
											<colab370></colab370>
										</td>
										<td>
											<colab371></colab371>
										</td>
										<td>
											<horas186></horas186>
										</td>
									</tr>
									<tr>
										<td>
											<colab372></colab372>
										</td>
										<td>
											<colab373></colab373>
										</td>
										<td>
											<horas187></horas187>
										</td>
									</tr>
									<tr>
										<td>
											<colab374></colab374>
										</td>
										<td>
											<colab375></colab375>
										</td>
										<td>
											<horas188></horas188>
										</td>
									</tr>
									<tr>
										<td>
											<colab376></colab376>
										</td>
										<td>
											<colab377></colab377>
										</td>
										<td>
											<horas189></horas189>
										</td>
									</tr>
									<tr>
										<td>
											<colab378></colab378>
										</td>
										<td>
											<colab379></colab379>
										</td>
										<td>
											<horas190></horas190>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas id="xavstatus" height="230"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="../static/js/xavtask.js"></script>
	<script src="../static/js/xavstatus.js"></script>
</body>

</html>