/*
Azul Clarinho = #36B9CC
Verde = #1CC88A
Branco = #F8F9FC
Azul Suave = #4E73DF
Amarelo Suave = #F6C23E
Branco Suave (fundo) = #ECEDF3
Roxo estranho = #8680BC
Laranja Claro = #EA8A4F
Cinza Claro = #858796
Azul Escuro = #25408F
Laranja Escuro = #F1662D
Cinza Escuro = #5A5C69
Azul muito escuro = #272753
Vermelho Suave = #E74A3B
*/

body{
    background: #ECEDF3;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}
h1{
    color: #F8F9FC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
.container-top {
    height: 770px;
    background: #25408F;
}

.bvoltar{
    background: #ECEDF3;
    border-radius: 20px;
    border: 0px;
    width: 80px;
    height: 25px;
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    box-shadow: 2px 2px 2px #022f58;
}

.block1{
    background: #F8F9FC;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #c7c8ce;
    justify-content: center;
    min-height: 480px;
    max-height: 480px;
}

.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25408F;
    border-radius: 25px;
    color: white;
    font-size: 28px;
}

.titulos2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6C23E;
    border-radius: 25px;
    color: white;
    font-size: 28px;
}

.estilo{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
}

.section-content{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    min-height: 40px;
    color: black;
}

.estilo2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: black;
    justify-content: center;
    display: flex;
    margin-top: 40px;

}


#style-8::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}


.search_icon{
    color: #010308;
    display: flex;
}

.search-input {
    border-radius: 50px !important;
}


.form-outline{
    display: flex;
    border-radius: 12.5px;
    background: #ECEDF3;
    box-shadow: 2px 2px 2px #022f58;
}

.form-control{
    border-radius: 12.5px;
    border: 0px;
    height: 25px;
    width: 210px;
    margin-left: 20px;
    background: #ECEDF3;
}