body{
    background: pink;
}

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 20px;
  }
.box{
    color: white;
}
.login{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 64px;
}
.card-box{
    height: 50px;
    font-size: 20px;
}
.btn-login {
    background-color: #F1662D;
    width: 170px;
    color: #fff;
    border-radius: 2px
}

.btn-login:hover {
    background-color: #ee581c;
    color: white;
    cursor: pointer
}

.bg-login {
    color: #fff;
    background-color: #F1662D;
}
.btn-distance{
    margin-top: 30px;
    justify-content: center;
}