<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Geral</title>
    <link href="../static/css/style.css" rel="stylesheet">



</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="align">
                <button class="bupload">
                    <div class="upload">
                        <svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                            <polyline points="17 8 12 3 7 8"></polyline>
                            <line x1="12" y1="3" x2="12" y2="15"></line>
                        </svg>
                    </div>
                </button>
            </div>
            <div class="dash_title">
                <h1>GSW Dashboard</h1>
            </div>
            <div class="search">
                <div class="search_circle">
                    <div class="search_icon">
                        <svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </div>
                </div>
                <div class="form-outline">
                    <input id="search-input" type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1"></label>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="cardscontent">
                <div class="text1">PROJETOS PENDENTES</div>
                <div class="contcard">12</div>
            </div>
            <div class="cardscontent">
                <div class="text1">PROJETOS EM ANDAMENTOS</div>
                <div class="contcard">26</div>
            </div>
            <div class="cardscontent">
                <div class="text1">PROJETOS CONCLUÍDOS</div>
                <div class="contcard">17</div>
            </div>
            <div class="cardscontent">
                <div class="text1">TOTAL DE PROJETOS</div>
                <div class="contcard">56</div>
            </div>
        </div>
    </div>
    <div class="container-2">
        <div class="block1">
            <!--            <div class="text2">STATUS</div>-->
            <canvas id="myChart" height="220"></canvas>
        </div>
        <div class="block2">
            <div class="block2-1">
                <canvas id="myChart2" height="115"></canvas>
            </div>
            <div class="block2-2">
                <div class="text4">ESTATÍSTICAS DO PROJETO</div>
            </div>
        </div>
        <div class="block3">
            <div class="text3">COLABORADORES</div>
            <div class="tab">
                <div class="tab1">
                    <div class="tabt">ID</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>
                    <div class="tabc">43</div>

                </div>
                <div class="tab2">
                    <div class="tabt">NOME</div>
                    <div class="tabc">Lucas</div>
                    <div class="tabc">Bryan</div>
                    <div class="tabc">Elias</div>
                    <div class="tabc">Marcus</div>
                    <div class="tabc">Raphael</div>
                    <div class="tabc">Danilo</div>
                    <div class="tabc">Jeferson</div>
                    <div class="tabc">Paulo</div>
                    <div class="tabc">Letícia</div>
                    <div class="tabc">Caio</div>
                </div>
                <div class="tab3">
                    <div class="tabt">PROJETO</div>
                    <div class="tabc">Product</div>
                    <div class="tabc">GSW Soft</div>
                    <div class="tabc">Testing</div>
                    <div class="tabc">Dash</div>
                    <div class="tabc">Melo Asoc.</div>
                    <div class="tabc">Acent</div>
                    <div class="tabc">Example</div>
                    <div class="tabc">Project</div>
                    <div class="tabc">Dev</div>
                    <div class="tabc">Layout</div>
                </div>
            </div>
            <button class="mais">Ver mais</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>