<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projeto Y</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>Projeto Y</b></div>
				<div class="div-text"><b>Empresa</b></div>
			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">86</b></div>
									<div class="div-text">
										<div class="row">
											<div class="col-md-12">
												<i class="bi-arrow-up" style="font-size: 1rem; color: green;">6,50%</i>
												<span> Último mês</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">123</b></div>
									<div class="div-text">
										<div class="row">
											<div class="col-md-12">
												<i class="bi-arrow-down" style="font-size: 1rem; color: red;">3,75%</i>
												<span> Último mês</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">27h02</b></div>
									<div class="div-text">Início 14h20 - 10/07/2021</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="myChart"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>

								<table class="table">
									<tr>
										<td>Colaborador 3</td>
										<td>6h 32min</td>
									</tr>
									<tr>
										<td>Colaborador 2</td>
										<td>6h 32min</td>
									</tr>
									<tr>
										<td>Colaborador 6</td>
										<td>6h 32min</td>
									</tr>
									<tr>
										<td>Colaborador 5</td>
										<td>6h 32min</td>
									</tr>
									<tr>
										<td>Colaborador 4</td>
										<td>6h 32min</td>
									</tr>
									<tr>
										<td>Colaborador 7</td>
										<td>5h 02min</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas style="height:300px;" id="barPlusLine"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<script>
		//GRAFICO 1

		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'pie',
			data: {
				labels: ["Tasks Abertas", "Tasks Fechadas"],
				datasets: [{
					backgroundColor: [
						"#2ecc71",
						"#e74c3c"
					],
					data: [12, 19]
				}]
			}
		});
	</script>


	<script>
		//GRAFICO 2

		var data = [{
			label: 'Target',
			data: [21421, 22145, 15014, 15441],
			type: 'line',
			borderColor: '#004368',
			datalabels: {
				display: false
			}
		}, {
			label: 'Online',
			backgroundColor: 'green',
			data: [6310, 5742, 4044, 5564]
		}, {
			label: 'Store',
			backgroundColor: 'blue',
			data: [11542, 12400, 12510, 11450]
		}];


		var options = {
			tooltips: {
				mode: 'label',
				callbacks: {
					label: function (tooltipItem, data) {
						var type = data.datasets[tooltipItem.datasetIndex].label;
						var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
						var total = 0;
						for (var i = 0; i < data.datasets.length; i++)
							total += data.datasets[i].data[tooltipItem.index];
						if (tooltipItem.datasetIndex !== data.datasets.length - 1) {
							return type + " : " + value.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '1,');
						} else {
							return [type + " : " + value.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '1,'), "Achieved : " + total];
						}
					}
				}
			},
			plugins: {
				datalabels: {
					formatter: function (value, ctx) {
						let sum = 0;
						let dataArr = ctx.chart.data.datasets[0].data;
						dataArr.map(data => {
							sum += data;
						});
						let percentage = (value * 100 / sum).toFixed(0) + "%";
						return percentage;
					},
					font: {
						weight: "bold"
					},
					color: "#fff"
				}
			},
			scales: {
				xAxes: [{
					stacked: true,
					gridLines: {
						display: false
					}
				}],
				yAxes: [{
					stacked: true,
					ticks: {
						beginAtZero: true,
						callback: function (value) {
							valuek = value / 1000 + 'k';
							return '$' + valuek;
						}
					}
				}]
			}

		};

		var ctx2 = document.getElementById("barPlusLine").getContext('2d');

		var myChart2 = new Chart(ctx2, {
			type: 'bar',
			data: {
				labels: ["Done", "FOR_TEST", "IN_PROGRESS", "RELEASE_TO_PROD"],
				datasets: data
			},
			options: options
		});

	</script>

</body>

</html>