/*
Azul Clarinho = #36B9CC
Verde = #1CC88A
Branco = #F8F9FC
Azul Suave = #4E73DF
Amarelo Suave = #F6C23E
Branco Suave (fundo) = #ECEDF3
Roxo estranho = #8680BC
Laranja Claro = #EA8A4F
Cinza Claro = #858796
Azul Escuro = #25408F
Laranja Escuro = #F1662D
Cinza Escuro = #5A5C69
Azul muito escuro = #272753
Vermelho Suave = #E74A3B
*/



body{
    background: #25408F;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
h1{
    color: #F8F9FC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 267px;
    height: 25px;
    left: 864px;
    top: 133px;
    font-size: 34px;
    left: 867px;
}

.empresa{
    justify-content: center;
    display: flex;
    position: relative;
    top: 5px;
    width: 100%;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #F8F9FC;
    right: 24%;
}
.container-projeto {
    width: 100%;
    height: 285px;
    background: #25408F;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.header{
	color: white;
	font-size: 30px;

}
.body-container{
	padding-left:3%;
	padding-right:3%;
	padding-bottom:15%;
    height: 285px;
}



/* Header */
.nav-projeto{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-top: 16px;
    justify-content: space-between;
}
.upload{
    color: #F8F9FC;
}
.align{
    width: 270px;
	padding-left: 3%;
}
.search_circle{
    width: 35px;
    height: 35px;
    background: #F6C23E;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.search_icon{
    color: #F8F9FC;
}
.bupload{
    background: #F6C23E;
    border-radius: 5px;
    border: 0px;
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #022f58;
}
.search{
    display: flex;
    align-items: center;
    width: 270px;
    padding-right: 3%;
}
.form-outline{
    margin-left: -15px;
    width: 250px;
    display: flex;
    border-radius: 12.5px;
    background: #ECEDF3;
    box-shadow: 2px 2px 2px #022f58;
}
.form-control{
    border-radius: 12.5px;
    border: 0px;
    height: 25px;
    width: 210px;
    margin-left: 20px;
    background: #ECEDF3;
}


/* Text css */
.card-align{
	padding-top:8%;
}
.card-align-graph{
	padding-top:2%;
}
.card-number-size{
	font-size:44px;
}
.div-text{
	text-align:center;
}
.bottom-glyphicon-green{
	color: green;
	margin-left:5%;
}

/* Left css */
.div-left{
	padding-top:5%;
	padding-left:3%;
	padding-right:3%;
}
.cardscontent{
    height: 160px;
    background: #F8F9FC;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #022f58;
	margin-top:1%;
	margin-bottom:1%;
}
.block1{
    background: #F8F9FC;
    height: 350px;
    padding-left:3%;
	padding-right:3%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #c7c8ce;
    margin-top: 50px;
    box-shadow: 2px 2px 2px #022f58;
}
.block2{
    background: #F8F9FC;
    height: 350px;
    padding-left:3%;
	padding-right:3%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #c7c8ce;
    margin-top: 50px;
    box-shadow: 2px 2px 2px #022f58;
}


/* Right css */
.div-right{
	padding-top:5%;
	padding-left:3%;
	padding-right:3%;
}
.card-right{
    height: 560px;
    background: #F8F9FC;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #022f58;
}


/* Gráficos */
canvas { background-color : ; }

.graphic-pie{
	padding-top:10%;
	padding-left:1%;
	padding-right:1%;
}

.graphic-bar{
	padding-top:1%;
	padding-left:1%;
	padding-right:1%;
}
