{% extends 'base.html' %}

{% block tittle %}Carvalho{% endblock %}

<body>
    {% block titulo %}Ergonomic methodical methodology{% endblock %}
    {% block conteudo %}
    <div class="container-fluid">
        <div class="row space">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Abertas</h5>
                    <p class="top-card-text text-center">
                        <tacar></tacar>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Fechadas</h5>
                    <p class="top-card-text text-center">
                        <tfcar></tfcar>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Horas de Projeto</h5>
                    <p class="top-card-text text-center">
                        <hcar></hcar>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tempo Médio das Tasks</h5>
                    <p class="top-card-text text-center">
                        <tcar></tcar>
                    </p>
                </div>
            </div>
        </div>
        <div class="row space">
            <div class="card pd" style="width: 27rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Status</h5>
                    <div class="grafico">
                        <canvas id="Status" height="230"></canvas>
                    </div>
                </div>
            </div>
            <div class="card pd" style="width: 27rem; height: 400px;">
                <h5 class="top-card-title text-center" style="padding-top: 20px;">Colaboradores</h5>
                <div class="card-body mt-6 overflow-auto">
                    <div class="lista">
                        <table class="table">
                            <th>Nome</th>
                            <th>Sobrenome</th>
                            <th>Horas</th>
                            <tr>
                                <td>
                                    <colab76></colab76>
                                </td>
                                <td>
                                    <colab77></colab77>
                                </td>
                                <td>
                                    <horas39></horas39>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab78></colab78>
                                </td>
                                <td>
                                    <colab79></colab79>
                                </td>
                                <td>
                                    <horas40></horas40>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab80></colab80>
                                </td>
                                <td>
                                    <colab81></colab81>
                                </td>
                                <td>
                                    <horas41></horas41>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab82></colab82>
                                </td>
                                <td>
                                    <colab83></colab83>
                                </td>
                                <td>
                                    <horas42></horas42>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab84></colab84>
                                </td>
                                <td>
                                    <colab85></colab85>
                                </td>
                                <td>
                                    <horas43></horas43>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab86></colab86>
                                </td>
                                <td>
                                    <colab87></colab87>
                                </td>
                                <td>
                                    <horas44></horas44>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab88></colab88>
                                </td>
                                <td>
                                    <colab89></colab89>
                                </td>
                                <td>
                                    <horas45></horas45>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab90></colab90>
                                </td>
                                <td>
                                    <colab91></colab91>
                                </td>
                                <td>
                                    <horas46></horas46>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab92></colab92>
                                </td>
                                <td>
                                    <colab93></colab93>
                                </td>
                                <td>
                                    <horas47></horas47>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab94></colab94>
                                </td>
                                <td>
                                    <colab95></colab95>
                                </td>
                                <td>
                                    <horas48></horas48>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab96></colab96>
                                </td>
                                <td>
                                    <colab97></colab97>
                                </td>
                                <td>
                                    <horas49></horas49>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab98></colab98>
                                </td>
                                <td>
                                    <colab99></colab99>
                                </td>
                                <td>
                                    <horas50></horas50>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab100></colab100>
                                </td>
                                <td>
                                    <colab101></colab101>
                                </td>
                                <td>
                                    <horas51></horas51>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab102></colab102>
                                </td>
                                <td>
                                    <colab103></colab103>
                                </td>
                                <td>
                                    <horas52></horas52>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab104></colab104>
                                </td>
                                <td>
                                    <colab105></colab105>
                                </td>
                                <td>
                                    <horas53></horas53>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab106></colab106>
                                </td>
                                <td>
                                    <colab107></colab107>
                                </td>
                                <td>
                                    <horas54></horas54>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab108></colab108>
                                </td>
                                <td>
                                    <colab109></colab109>
                                </td>
                                <td>
                                    <horas55></horas55>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab110></colab110>
                                </td>
                                <td>
                                    <colab111></colab111>
                                </td>
                                <td>
                                    <horas56></horas56>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab112></colab112>
                                </td>
                                <td>
                                    <colab113></colab113>
                                </td>
                                <td>
                                    <horas57></horas57>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card pd" style="width: 27rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Abertas e Fechadas</h5>
                    <div class="grafico">
                        <canvas id="Task" height="230"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="../static/js/graficos-projetos/status/carvalho.js"></script>
    <script src="../static/js/graficos-projetos/task/carvalho.js"></script>
    <script src="../static/js/info-projetos.js"></script>
    {% endblock %}
</body>
