<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Costa Ltda</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/projetos.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/">Geral</a>
                    <a href="#">Upload</a>
                    <a href="#">Cadastro</a>
                    <button class="dropdown-btn">Projetos 
                    <i class="fa fa-caret-down"></i>
                  </button>
                    <div class="dropdown-container">
                        <a href="/project/albuquerque">Albuquerque</a>
                        <a href="/project/batista">Batista</a>
                        <a href="/project/carvalho">Carvalho</a>
                        <a href="/project/costacomercio">Costa Comércio</a>
                        <a href="/project/costaltda">Costa LTDA</a>
                        <a href="/project/melo">Melo</a>
                        <a href="/project/pereira">Pereira</a>
                        <a href="/project/santos">Santos</a>
                        <a href="/project/souza">Souza</a>
                        <a href="/project/xavier">Xavier</a>
                    </div>
                    <a href="/collaborators">Colaboradores</a>
                    <script>
                        var dropdown = document.getElementsByClassName("dropdown-btn");
                        var i;

                        for (i = 0; i < dropdown.length; i++) {
                            dropdown[i].addEventListener("click", function() {
                                this.classList.toggle("active");
                                var dropdownContent = this.nextElementSibling;
                                if (dropdownContent.style.display === "block") {
                                    dropdownContent.style.display = "none";
                                } else {
                                    dropdownContent.style.display = "block";
                                }
                            });
                        }
                    </script>
                </div>

                <span style="font-size:30px;cursor:pointer" onclick="openNav()"><button type="button" class="btn btn-outline-success"><svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></button></span>

                <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
                <a class="navbar-brand">
                    <div class="projeto">
                        Total asynchronous secured line
                    </div>
                </a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row space">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tasks Abertas</h5>
                        <p class="top-card-text text-center">
                            <tacosl></tacosl>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tasks Fechadas</h5>
                        <p class="top-card-text text-center">
                            <tfcosl></tfcosl>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Horas de Projeto</h5>
                        <p class="top-card-text text-center">
                            <hcosl></hcosl>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tempo Médio das Tasks</h5>
                        <p class="top-card-text text-center">N</p>
                    </div>
                </div>
            </div>
            <div class="row space">
                <div class="card pd" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Status</h5>
                        <div class="grafico">
                            <canvas id="Status" height="230"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card pd" style="width: 27rem; height: 400px;">
                    <h5 class="top-card-title text-center" style="padding-top: 20px;">Colaboradores</h5>
                    <div class="card-body mt-6 overflow-auto">
                        <div class="lista">
                            <table class="table">
                                <tr>
                                    <td>
                                        <colab152></colab152>
                                    </td>
                                    <td>
                                        <colab153></colab153>
                                    </td>
                                    <td>
                                        <horas77></horas77>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab154></colab154>
                                    </td>
                                    <td>
                                        <colab155></colab155>
                                    </td>
                                    <td>
                                        <horas78></horas78>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab156></colab156>
                                    </td>
                                    <td>
                                        <colab157></colab157>
                                    </td>
                                    <td>
                                        <horas79></horas79>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab158></colab158>
                                    </td>
                                    <td>
                                        <colab159></colab159>
                                    </td>
                                    <td>
                                        <horas80></horas80>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab160></colab160>
                                    </td>
                                    <td>
                                        <colab161></colab161>
                                    </td>
                                    <td>
                                        <horas81></horas81>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab162></colab162>
                                    </td>
                                    <td>
                                        <colab163></colab163>
                                    </td>
                                    <td>
                                        <horas82></horas82>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab164></colab164>
                                    </td>
                                    <td>
                                        <colab165></colab165>
                                    </td>
                                    <td>
                                        <horas83></horas83>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab166></colab166>
                                    </td>
                                    <td>
                                        <colab167></colab167>
                                    </td>
                                    <td>
                                        <horas84></horas84>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab168></colab168>
                                    </td>
                                    <td>
                                        <colab169></colab169>
                                    </td>
                                    <td>
                                        <horas85></horas85>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab170></colab170>
                                    </td>
                                    <td>
                                        <colab171></colab171>
                                    </td>
                                    <td>
                                        <horas86></horas86>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab172></colab172>
                                    </td>
                                    <td>
                                        <colab173></colab173>
                                    </td>
                                    <td>
                                        <horas87></horas87>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab174></colab174>
                                    </td>
                                    <td>
                                        <colab175></colab175>
                                    </td>
                                    <td>
                                        <horas88></horas88>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab176></colab176>
                                    </td>
                                    <td>
                                        <colab177></colab177>
                                    </td>
                                    <td>
                                        <horas89></horas89>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab178></colab178>
                                    </td>
                                    <td>
                                        <colab179></colab179>
                                    </td>
                                    <td>
                                        <horas90></horas90>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab180></colab180>
                                    </td>
                                    <td>
                                        <colab181></colab181>
                                    </td>
                                    <td>
                                        <horas91></horas91>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab182></colab182>
                                    </td>
                                    <td>
                                        <colab183></colab183>
                                    </td>
                                    <td>
                                        <horas92></horas92>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab184></colab184>
                                    </td>
                                    <td>
                                        <colab185></colab185>
                                    </td>
                                    <td>
                                        <horas93></horas93>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab186></colab186>
                                    </td>
                                    <td>
                                        <colab187></colab187>
                                    </td>
                                    <td>
                                        <horas94></horas94>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab188></colab188>
                                    </td>
                                    <td>
                                        <colab189></colab189>
                                    </td>
                                    <td>
                                        <horas95></horas95>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card pd" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tasks Abertas e Fechadas</h5>
                        <div class="grafico">
                            <canvas id="Task" height="230"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script src="../static/js/graficos-projetos/status/costaltda.js"></script>
        <script src="../static/js/graficos-projetos/task/costaltda.js"></script>
        <script src="../static/js/info-projetos.js"></script>
    </body>

</html>