{% extends 'base.html' %}

{% block tittle %}Dashboard Geral{% endblock %}

<body>
    {% block titulo %}Dashboard{% endblock %}
    {% block conteudo %}
    <div class="container-fluid">
        <div class="row space">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Projetos em Andamento</h5>
                    <p class="top-card-text text-center">N</p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Projetos Concluídos</h5>
                    <p class="top-card-text text-center">N</p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Horas de Projeto</h5>
                    <p class="top-card-text text-center">
                        <horasgeral></horasgeral>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tempo Médio das Tasks</h5>
                    <p class="top-card-text text-center">
                        <mtgeral></mtgeral>
                    </p>
                </div>
            </div>
        </div>
        <div class="row space">
            <div class="card pd" style="width: 27rem; height: 400px;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Status</h5>
                    <div class="grafico">
                        <canvas id="StatusGeral" height="230"></canvas>
                    </div>
                </div>
            </div>
            <div class="card pd" style="width: 27rem; height: 400px;">
                <h5 class="top-card-title text-center" style="padding-top: 20px;">Projetos</h5>
                <div class="card-body mt-6 overflow-auto">
                    <div class="lista">
                        <table class="table">
                            <tr>
                                <td style="align-items: center;">
                                    Albuquerque - Mandatory human-resource open architecture
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Batista - Monitored multi-state installation
                                </td>
                            </tr><tr>
                                <td>
                                    Carvalho - Ergonomic methodical methodology
                                </td>
                            </tr><tr>
                                <td>
                                    Costa Comércio - Sharable non-volatile internet solution
                                </td>
                            </tr><tr>
                                <td>
                                    Costa Ltda - Total asynchronous secured line
                                </td>
                            </tr><tr>
                                <td>
                                    Melo - Organized impactful instruction set
                                </td>
                            </tr><tr>
                                <td>
                                    Pereira - Mandatory fault-tolerant Graphical User Interface
                                </td>
                            </tr><tr>
                                <td>
                                    Santos - Stand-alone well-modulated policy
                                </td>
                            </tr><tr>
                                <td>
                                    Souza - Innovative background implementation
                                </td>
                            </tr><tr>
                                <td>
                                    Xavier - Vision-oriented holistic architecture
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card pd" style="width: 27rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Abertas e Fechadas</h5>
                    <div class="grafico">
                        <canvas id="TaskGeral" height="230"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="../static/js/status-geral.js"></script>
    <script src="../static/js/task-geral.js"></script>
    <script src="../static/js/info-geral.js"></script>
    {% endblock %}
</body>

</html>