<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projetos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Geral</a>
                <a href="#">Upload</a>
                <a href="#">Cadastro</a>
                <button class="dropdown-btn">Projetos 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-container">
                    <a href="#">Albuquerque</a>
                    <a href="#">Batista</a>
                    <a href="#">Carvalho</a>
                    <a href="#">Costa Comércio</a>
                    <a href="#">Costa LTDA</a>
                    <a href="#">Melo</a>
                    <a href="#">Pereira</a>
                    <a href="#">Santos</a>
                    <a href="#">Souza</a>
                    <a href="#">Xavier</a>
                  </div>
                <a href="#">Colaboradores</a>
                <script>
                    var dropdown = document.getElementsByClassName("dropdown-btn");
                    var i;
                    
                    for (i = 0; i < dropdown.length; i++) {
                      dropdown[i].addEventListener("click", function() {
                      this.classList.toggle("active");
                      var dropdownContent = this.nextElementSibling;
                      if (dropdownContent.style.display === "block") {
                      dropdownContent.style.display = "none";
                      } else {
                      dropdownContent.style.display = "block";
                      }
                      });
                    }
                    </script>
              </div>
              
              <span style="font-size:30px;cursor:pointer" onclick="openNav()"><button type="button" class="btn btn-outline-success"><svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></button></span>
              
              <script>
              function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
              }
              
              function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
              }
              </script>
            <a class="navbar-brand">
                <div class="projeto">
                    Organized impactful instruction set
                </div>
            </a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row space">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Abertas</h5>
                    <p class="top-card-text text-center">
                        <tamel></tamel>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Fechadas</h5>
                    <p class="top-card-text text-center">
                        <tfmel></tfmel>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Horas de Projeto</h5>
                    <p class="top-card-text text-center">
                        <hmel></hmel>
                    </p>
                </div>
            </div>
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tempo Médio das Tasks</h5>
                    <p class="top-card-text text-center">
                        <mtmel></mtmel>
                    </p>
                </div>
            </div>
        </div>
        <div class="row space">
            <div class="card pd" style="width: 27rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Status</h5>
                    <div class="grafico">
                        <canvas id="Status" height="230"></canvas>
                    </div>
                </div>
            </div>
            <div class="card pd" style="width: 27rem; height: 400px;">
                <h5 class="top-card-title text-center" style="padding-top: 20px;">Colaboradores</h5>
                <div class="card-body mt-6 overflow-auto">
                    <div class="lista">
                        <table class="table">
                            <tr>
                                <td>
                                    <colab190></colab190>
                                </td>
                                <td>
                                    <colab191></colab191>
                                </td>
                                <td>
                                    <horas96></horas96>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab192></colab192>
                                </td>
                                <td>
                                    <colab193></colab193>
                                </td>
                                <td>
                                    <horas97></horas97>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab194></colab194>
                                </td>
                                <td>
                                    <colab195></colab195>
                                </td>
                                <td>
                                    <horas98></horas98>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab196></colab196>
                                </td>
                                <td>
                                    <colab197></colab197>
                                </td>
                                <td>
                                    <horas99></horas99>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab198></colab198>
                                </td>
                                <td>
                                    <colab199></colab199>
                                </td>
                                <td>
                                    <horas100></horas100>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab200></colab200>
                                </td>
                                <td>
                                    <colab201></colab201>
                                </td>
                                <td>
                                    <horas101></horas101>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab202></colab202>
                                </td>
                                <td>
                                    <colab203></colab203>
                                </td>
                                <td>
                                    <horas102></horas102>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab204></colab204>
                                </td>
                                <td>
                                    <colab205></colab205>
                                </td>
                                <td>
                                    <horas103></horas103>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab206></colab206>
                                </td>
                                <td>
                                    <colab207></colab207>
                                </td>
                                <td>
                                    <horas104></horas104>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab208></colab208>
                                </td>
                                <td>
                                    <colab209></colab209>
                                </td>
                                <td>
                                    <horas105></horas105>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab210></colab210>
                                </td>
                                <td>
                                    <colab211></colab211>
                                </td>
                                <td>
                                    <horas106></horas106>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab212></colab212>
                                </td>
                                <td>
                                    <colab213></colab213>
                                </td>
                                <td>
                                    <horas107></horas107>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab214></colab214>
                                </td>
                                <td>
                                    <colab215></colab215>
                                </td>
                                <td>
                                    <horas108></horas108>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab216></colab216>
                                </td>
                                <td>
                                    <colab217></colab217>
                                </td>
                                <td>
                                    <horas109></horas109>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab218></colab218>
                                </td>
                                <td>
                                    <colab219></colab219>
                                </td>
                                <td>
                                    <horas110></horas110>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab220></colab220>
                                </td>
                                <td>
                                    <colab221></colab221>
                                </td>
                                <td>
                                    <horas111></horas111>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab222></colab222>
                                </td>
                                <td>
                                    <colab223></colab223>
                                </td>
                                <td>
                                    <horas112></horas112>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab224></colab224>
                                </td>
                                <td>
                                    <colab225></colab225>
                                </td>
                                <td>
                                    <horas113></horas113>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <colab226></colab226>
                                </td>
                                <td>
                                    <colab227></colab227>
                                </td>
                                <td>
                                    <horas114></horas114>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card pd" style="width: 27rem;">
                <div class="card-body">
                    <h5 class="top-card-title text-center">Tasks Abertas e Fechadas</h5>
                    <div class="grafico">
                        <canvas id="Task" height="230"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="../static/js/graficos-projetos/status/melo.js"></script>
    <script src="../static/js/graficos-projetos/task/melo.js"></script>
    <script src="../static/js/info-projetos.js"></script>
</body>

</html>