<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Santos</title>
	<link href="../static/css/projetoY.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/projetoY.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../static/js/txtinfo.js"></script>

</head>

<body>

	<div class="container-projeto">
		<div class="nav-projeto">
			<div class="align">
				<button class="bupload">
					<div class="upload">
						<svg viewBox="0 0 24 24" width="23" height="23" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
							<polyline points="17 8 12 3 7 8"></polyline>
							<line x1="12" y1="3" x2="12" y2="15"></line>
						</svg>
					</div>
				</button>
			</div>
			<div class="header">
				<div class="div-text"><b>
						<nsan></nsan>
					</b></div>
			</div>
			<div class="search">
				<div class="search_circle">
					<div class="search_icon">
						<svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="3"
							fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
							<circle cx="11" cy="11" r="8"></circle>
							<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
						</svg>
					</div>
				</div>
				<div class="form-outline">
					<input id="search-input" type="search" id="form1" class="form-control" />
					<label class="form-label" for="form1"></label>
				</div>
			</div>
		</div>

		<div class="col-md-12 body-container">
			<div class="row">
				<div class="div-left col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS ABERTAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tasan></tasan>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>TASKS FECHADAS</b></p>
									<div class="div-text"><b class="card-number-size">
											<tfsan></tfsan>
										</b></div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="cardscontent">
								<div class="card-align">
									<p class="text-center"><b>HORAS DE PROJETO</b></p>
									<div class="div-text"><b class="card-number-size">
											<hsan></hsan>
										</b></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="block1">
								<div class="graphic-pie">
									<canvas id="santask" height="250"></canvas>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block2 mt-5 overflow-auto">
								<div class="card-align">
									<p class="text-center"><b>Ranking Horas por Colaborador</b></p>
								</div>

								<table class="table">
									<tr>
										<td>
											<colab266></colab266>
										</td>
										<td>
											<colab267></colab267>
										</td>
										<td>
											<horas134></horas134>
										</td>
									</tr>
									<tr>
										<td>
											<colab268></colab268>
										</td>
										<td>
											<colab269></colab269>
										</td>
										<td>
											<horas135></horas135>
										</td>
									</tr>
									<tr>
										<td>
											<colab270></colab270>
										</td>
										<td>
											<colab271></colab271>
										</td>
										<td>
											<horas136></horas136>
										</td>
									</tr>
									<tr>
										<td>
											<colab272></colab272>
										</td>
										<td>
											<colab273></colab273>
										</td>
										<td>
											<horas137></horas137>
										</td>
									</tr>
									<tr>
										<td>
											<colab274></colab274>
										</td>
										<td>
											<colab275></colab275>
										</td>
										<td>
											<horas138></horas138>
										</td>
									</tr>
									<tr>
										<td>
											<colab276></colab276>
										</td>
										<td>
											<colab277></colab277>
										</td>
										<td>
											<horas139></horas139>
										</td>
									</tr>
									<tr>
										<td>
											<colab278></colab278>
										</td>
										<td>
											<colab279></colab279>
										</td>
										<td>
											<horas140></horas140>
										</td>
									</tr>
									<tr>
										<td>
											<colab280></colab280>
										</td>
										<td>
											<colab281></colab281>
										</td>
										<td>
											<horas141></horas141>
										</td>
									</tr>
									<tr>
										<td>
											<colab282></colab282>
										</td>
										<td>
											<colab283></colab283>
										</td>
										<td>
											<horas142></horas142>
										</td>
									</tr>
									<tr>
										<td>
											<colab284></colab284>
										</td>
										<td>
											<colab285></colab285>
										</td>
										<td>
											<horas143></horas143>
										</td>
									</tr>
									<tr>
										<td>
											<colab286></colab286>
										</td>
										<td>
											<colab287></colab287>
										</td>
										<td>
											<horas144></horas144>
										</td>
									</tr>
									<tr>
										<td>
											<colab288></colab288>
										</td>
										<td>
											<colab289></colab289>
										</td>
										<td>
											<horas145></horas145>
										</td>
									</tr>
									<tr>
										<td>
											<colab290></colab290>
										</td>
										<td>
											<colab291></colab291>
										</td>
										<td>
											<horas146></horas146>
										</td>
									</tr>
									<tr>
										<td>
											<colab292></colab292>
										</td>
										<td>
											<colab293></colab293>
										</td>
										<td>
											<horas147></horas147>
										</td>
									</tr>
									<tr>
										<td>
											<colab294></colab294>
										</td>
										<td>
											<colab295></colab295>
										</td>
										<td>
											<horas148></horas148>
										</td>
									</tr>
									<tr>
										<td>
											<colab296></colab296>
										</td>
										<td>
											<colab297></colab297>
										</td>
										<td>
											<horas149></horas149>
										</td>
									</tr>
									<tr>
										<td>
											<colab298></colab298>
										</td>
										<td>
											<colab299></colab299>
										</td>
										<td>
											<horas150></horas150>
										</td>
									</tr>
									<tr>
										<td>
											<colab300></colab300>
										</td>
										<td>
											<colab301></colab301>
										</td>
										<td>
											<horas151></horas151>
										</td>
									</tr>
									<tr>
										<td>
											<colab302></colab302>
										</td>
										<td>
											<colab303></colab303>
										</td>
										<td>
											<horas152></horas152>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="div-right col-md-6">
					<div class="row">
						<div class="col-md-12">
							<div class="card-right">
								<div class="card-align-graph">
									<p class="text-center"><b>STATUS DO PROJETO</b></p>
								</div>
								<div class="graphic-bar">
									<canvas id="sanstatus" height="230"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="../static/js/santask.js"></script>
	<script src="../static/js/sanstatus.js"></script>
</body>

</html>