<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Souza</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/projetos.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/menu.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/">Geral</a>
                    <a href="#">Upload</a>
                    <a href="#">Cadastro</a>
                    <button class="dropdown-btn">Projetos 
                    <i class="fa fa-caret-down"></i>
                  </button>
                    <div class="dropdown-container">
                        <a href="/project/albuquerque">Albuquerque</a>
                        <a href="/project/batista">Batista</a>
                        <a href="/project/carvalho">Carvalho</a>
                        <a href="/project/costacomercio">Costa Comércio</a>
                        <a href="/project/costaltda">Costa LTDA</a>
                        <a href="/project/melo">Melo</a>
                        <a href="/project/pereira">Pereira</a>
                        <a href="/project/santos">Santos</a>
                        <a href="/project/souza">Souza</a>
                        <a href="/project/xavier">Xavier</a>
                    </div>
                    <a href="#">Colaboradores</a>
                    <script>
                        var dropdown = document.getElementsByClassName("dropdown-btn");
                        var i;

                        for (i = 0; i < dropdown.length; i++) {
                            dropdown[i].addEventListener("click", function() {
                                this.classList.toggle("active");
                                var dropdownContent = this.nextElementSibling;
                                if (dropdownContent.style.display === "block") {
                                    dropdownContent.style.display = "none";
                                } else {
                                    dropdownContent.style.display = "block";
                                }
                            });
                        }
                    </script>
                </div>

                <span style="font-size:30px;cursor:pointer" onclick="openNav()"><button type="button" class="btn btn-outline-success"><svg viewBox="0 0 24 24" width="25" height="25" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></button></span>

                <script>
                    function openNav() {
                        document.getElementById("mySidenav").style.width = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidenav").style.width = "0";
                    }
                </script>
                <a class="navbar-brand">
                    <div class="projeto">
                        Innovative background implementation
                    </div>
                </a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row space">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tasks Abertas</h5>
                        <p class="top-card-text text-center">
                            <tasou></tasou>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tasks Fechadas</h5>
                        <p class="top-card-text text-center">
                            <tfsou></tfsou>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Horas de Projeto</h5>
                        <p class="top-card-text text-center">
                            <hsou></hsou>
                        </p>
                    </div>
                </div>
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tempo Médio das Tasks</h5>
                        <p class="top-card-text text-center">N</p>
                    </div>
                </div>
            </div>
            <div class="row space">
                <div class="card pd" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Status</h5>
                        <div class="grafico">
                            <canvas id="Status" height="230"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card pd" style="width: 27rem; height: 400px;">
                    <h5 class="top-card-title text-center" style="padding-top: 20px;">Colaboradores</h5>
                    <div class="card-body mt-6 overflow-auto">
                        <div class="lista">
                            <table class="table">
                                <tr>
                                    <td>
                                        <colab304></colab304>
                                    </td>
                                    <td>
                                        <colab305></colab305>
                                    </td>
                                    <td>
                                        <horas153></horas153>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab306></colab306>
                                    </td>
                                    <td>
                                        <colab307></colab307>
                                    </td>
                                    <td>
                                        <horas154></horas154>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab308></colab308>
                                    </td>
                                    <td>
                                        <colab309></colab309>
                                    </td>
                                    <td>
                                        <horas155></horas155>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab310></colab310>
                                    </td>
                                    <td>
                                        <colab311></colab311>
                                    </td>
                                    <td>
                                        <horas156></horas156>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab312></colab312>
                                    </td>
                                    <td>
                                        <colab313></colab313>
                                    </td>
                                    <td>
                                        <horas157></horas157>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab314></colab314>
                                    </td>
                                    <td>
                                        <colab315></colab315>
                                    </td>
                                    <td>
                                        <horas158></horas158>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab316></colab316>
                                    </td>
                                    <td>
                                        <colab317></colab317>
                                    </td>
                                    <td>
                                        <horas159></horas159>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab318></colab318>
                                    </td>
                                    <td>
                                        <colab319></colab319>
                                    </td>
                                    <td>
                                        <horas160></horas160>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab320></colab320>
                                    </td>
                                    <td>
                                        <colab321></colab321>
                                    </td>
                                    <td>
                                        <horas161></horas161>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab322></colab322>
                                    </td>
                                    <td>
                                        <colab323></colab323>
                                    </td>
                                    <td>
                                        <horas162></horas162>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab324></colab324>
                                    </td>
                                    <td>
                                        <colab325></colab325>
                                    </td>
                                    <td>
                                        <horas163></horas163>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab326></colab326>
                                    </td>
                                    <td>
                                        <colab327></colab327>
                                    </td>
                                    <td>
                                        <horas164></horas164>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab328></colab328>
                                    </td>
                                    <td>
                                        <colab329></colab329>
                                    </td>
                                    <td>
                                        <horas165></horas165>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab330></colab330>
                                    </td>
                                    <td>
                                        <colab331></colab331>
                                    </td>
                                    <td>
                                        <horas166></horas166>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab332></colab332>
                                    </td>
                                    <td>
                                        <colab333></colab333>
                                    </td>
                                    <td>
                                        <horas167></horas167>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab334></colab334>
                                    </td>
                                    <td>
                                        <colab335></colab335>
                                    </td>
                                    <td>
                                        <horas168></horas168>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab336></colab336>
                                    </td>
                                    <td>
                                        <colab337></colab337>
                                    </td>
                                    <td>
                                        <horas169></horas169>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab338></colab338>
                                    </td>
                                    <td>
                                        <colab339></colab339>
                                    </td>
                                    <td>
                                        <horas170></horas170>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <colab340></colab340>
                                    </td>
                                    <td>
                                        <colab341></colab341>
                                    </td>
                                    <td>
                                        <horas171></horas171>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card pd" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="top-card-title text-center">Tasks Abertas e Fechadas</h5>
                        <div class="grafico">
                            <canvas id="Task" height="230"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script src="../static/js/graficos-projetos/status/souza.js"></script>
        <script src="../static/js/graficos-projetos/task/souza.js"></script>
        <script src="../static/js/info-projetos.js"></script>
    </body>

</html>