{% extends 'base.html' %}

{% block tittle %}Lista de Colaboradores{% endblock %}

<body>
    {% block titulo %}Lista de Colaboradores {% endblock %}
    {% block conteudo %}
                <div class="container block1 mt-5 overflow-auto" id="style-8">
                    <div class="row px-4">
                        <!-- COLUNA COLABORADORES-->
                        <div class="col-3 justify-content-around py-4">
                            <div class="title titulos mt-3">
                                <h2>Colaboradores</h2>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 1</span>
                                    </div>
                                </div>
                            </div>
                            <!-- CONTEUDO -->
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 4</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 5</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 6</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 7</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 8</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 9</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px" class="me-3 rounded-circle float-right">
                                        <span>Colaborador 10</span>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM CONTEUDO -->
                        </div>
                        <!-- FIM COLUNA -->

                        <!-- COLUNA EMAIL-->


                        <!-- COLUNA  HORA MES-->
                        <div class="col-3 justify-content-around py-4">
                            <div class="title titulos mt-3">
                                <h2>Hora por Mês</h2>
                            </div>
                            <!-- CONTEUDO -->
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM CONTEUDO -->
                        </div>
                        <!-- FIM COLUNA -->

                        <!-- COLUNA HORA ANO-->
                        <div class="col-3 justify-content-around py-4">
                            <div class="title titulos mt-3">
                                <h2>Horas por Ano</h2>
                            </div>
                            <!-- CONTEUDO -->
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>00:00h</span>
                                    </div>
                                </div>
                            </div>

                            <!-- FIM CONTEUDO -->
                        </div>
                        <!-- FIM COLUNA -->

                        <div class="col-3 justify-content-around py-4">
                            <div class="title titulos2 mt-3">
                                <h2>Ranking</h2>
                            </div>
                            <!-- CONTEUDO -->
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>1°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>2°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>3°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>4°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>5°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>6°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>7°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>8°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>9°</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content my-3">
                                <div class="section d-flex justify-content-center">
                                    <div class='section-content'>
                                        <span>10°</span>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM CONTEUDO -->
                        </div>
                        <!-- FIM COLUNA -->
                    </div>
                </div>
            </div>
    </body>

{% endblock %}