{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horas Dedicadas</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/colaboradores.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% block titulo %}Horas Dedicadas{% endblock %}
    {% block conteudo %}
    <div class="container-fluid">
        <div class="row px-1 px-md-5 px-lg-1 py-3 mx-auto my-card size min-size">

            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Colaboradores
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Horas por Mês
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Horas por Ano
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Ranking
                </div>
            </div>
            <div class=" row overflow-auto" style="height: 95%;">
                <div class="col-lg-3 text-center">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab475></colab475>
                                    <colab476></colab476>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab479></colab479>
                                    <colab480></colab480>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab483></colab483>
                                    <colab484></colab484>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab487></colab487>
                                    <colab488></colab488>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab491></colab491>
                                    <colab492></colab492>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab495></colab495>
                                    <colab496></colab496>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab499></colab499>
                                    <colab500></colab500>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab503></colab503>
                                    <colab504></colab504>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab507></colab507>
                                    <colab508></colab508>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab511></colab511>
                                    <colab512></colab512>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab515></colab515>
                                    <colab516></colab516>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- CONTEUDO -->
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab519></colab519>
                                    <colab520></colab520>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab523></colab523>
                                    <colab524></colab524>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab527></colab527>
                                    <colab528></colab528>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab531></colab531>
                                    <colab532></colab532>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab535></colab535>
                                    <colab536></colab536>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab539></colab539>
                                    <colab540></colab540>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab543></colab543>
                                    <colab544></colab544>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab547></colab547>
                                    <colab548></colab548>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab556></colab556>
                                    <colab557></colab557>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab477></colab477>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab481></colab481>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab485></colab485>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab489></colab489>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab493></colab493>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab497>
                                        </colab49>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab501></colab501>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab505></colab505>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab509></colab509>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab513></colab513>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab517></colab517>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab521></colab521>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab525></colab525>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab529></colab529>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab533></colab533>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab537></colab537>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab541></colab541>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab545></colab545>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab549></colab549>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab558></colab558>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab478></colab478>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab482></colab482>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab486></colab486>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab490></colab490>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab494></colab494>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab498></colab498>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab502></colab502>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab506></colab506>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab510></colab510>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab514></colab514>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab518></colab518>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab522></colab522>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab526></colab526>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab530></colab530>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab534></colab534>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name"></span>
                                <colab538></colab538></span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab542></colab542>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab546></colab546>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab550></colab550>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab559></colab559>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center" style="padding-left: 50px;">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">1°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">2°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">3°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">4°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">5°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">6°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">7°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">8°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">9°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">10°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">11°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">12°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">13°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">14°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">15°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">16°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">17°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">18°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">19°</span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">20°</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script src="../static/js/info-horas.js"></script>
</body>

{% endblock %}