{% extends 'base.html' %}

{% block tittle %}Tasks{% endblock %}

<body>
    {% block titulo %}Tasks Abertas e Fechadas{% endblock %}
    {% block conteudo %}
    <div class="container-fluid">
        <div class="row px-1 px-md-5 px-lg-1 py-3 mx-auto my-card size min-size">
            
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Colaboradores
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    E-mail
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Tasks Abertas
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="my-card-title">
                    Tasks Fechadas
                </div>
            </div>
            <div class=" row overflow-auto" style="height: 95%;">
            <div class="col-lg-3 text-center">
                <div class="content">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px"
                                    class="me-3 rounded-circle float-right">
                                <span class="span-name" >
                                    <colab380></colab380>
                                    <colab381></colab381>
                                </span >
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px"
                                    class="me-3 rounded-circle float-right">
                                <span class="span-name" >
                                    <colab385></colab385>
                                    <colab386></colab386>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px"
                                    class="me-3 rounded-circle float-right">
                                <span class="span-name" >
                                    <colab390></colab390>
                                    <colab391></colab391>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" width="30px"
                                    class="me-3 rounded-circle float-right">
                                <span class="span-name" >
                                    <colab395></colab395>
                                    <colab396></colab396>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab400></colab400>
                                    <colab401></colab401>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab405></colab405>
                                    <colab406></colab406>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab410></colab410>
                                    <colab411></colab411>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab415></colab415>
                                    <colab416></colab416>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab420></colab420>
                                    <colab421></colab421>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab425></colab425>
                                    <colab426></colab426>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab430></colab430>
                                    <colab431></colab431>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab435></colab435>
                                    <colab436></colab436>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab440></colab440>
                                    <colab441></colab441>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab445></colab445>
                                    <colab446></colab446>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab450></colab450>
                                    <colab451></colab451>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab455></colab455>
                                    <colab456></colab456>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab460></colab460>
                                    <colab461></colab461>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab465></colab465>
                                    <colab466></colab466>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab470></colab470>
                                    <colab471></colab471>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg"
                                    width="30px" class="me-3 rounded-circle float-right">
                                <span class="span-name">
                                    <colab551></colab551>
                                    <colab552></colab552>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="content">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab382></colab382>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab387></colab387>
                                </span">
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab392></colab392>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab397></colab397>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab402></colab402>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab407></colab407>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab412></colab412>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab417></colab417>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab422></colab422>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab427></colab427>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab432></colab432>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab437></colab437>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab442></colab442>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab447></colab447>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab452></colab452>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab457></colab457>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab462></colab462>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab467></colab467>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab472></colab472>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-between">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab553></colab553>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="content">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab383></colab383>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab388></colab388>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab393></colab393>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab398></colab398>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab403></colab403>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab408></colab408>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab413></colab413>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab418></colab418>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab423></colab423>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab428></colab428>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab433></colab433>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab438></colab438>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab443></colab443>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab448></colab448>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab453></colab453>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab458></colab458>
                                </span >
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab463></colab463>
                                </span >
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab468></colab468>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab473></colab473>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab554></colab554>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center" style="padding-left: 50px;">
                <div class="content">
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab384></colab384>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab389></colab389>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab394></colab394>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab399></colab399>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab404></colab404>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab409></colab409>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab414></colab414>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab419></colab419>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab424></colab424>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab429></colab429>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab434></colab434>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab439></colab439>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab444></colab444>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab449></colab449>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab454></colab454>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab459></colab459>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab464></colab464>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab469></colab469>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab474></colab474>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="content my-3">
                        <div class="section d-flex justify-content-center">
                            <div class='section-content'>
                                <span class="span-name">
                                    <colab555></colab555>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    
    </div>
    <script src="../static/js/info-colaboradores.js"></script>

</body>
{% endblock %}